{% extends "/base/base.html" %}
{% from "_fromhelpers.html" import render_field %}

{% block buttons %}
<a class="nav-link active" href="/route1"> Centro <span class="sr-only">(current)</span></a>
<a class="nav-link" href="/route2"> Nuestros Productos</a>
<a class="nav-link" href="/route3"> Contactanos </a>
{% endblock %}

{% block nombre_de_bloque %}
<h1 style="color: azure;">Formato de Botones Traido de Bootstrap</h1>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button>

<h2 style="text-align: center; color: bisque;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi amet ullam aspernatur unde optio vitae similique soluta numquam accusamus. Delectus, mollitia? Expedita dolore cum voluptatem culpa sunt consequuntur nihil distinctio. Eius, enim vero? Fuga hic natus, ex sunt laudantium corrupti maxime ipsam distinctio id ad? Omnis quas, necessitatibus culpa similique consectetur odio repudiandae? Consequatur nemo aliquam sed expedita vel veniam quasi, dolorum asperiores sequi voluptate laudantium ad. Obcaecati distinctio accusantium illum in repudiandae quis voluptatibus exercitationem modi ab impedit aliquam, laborum vel minima sit quod sint eveniet deserunt quos, optio, odit ipsa! Recusandae fuga molestiae provident asperiores expedita inventore? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque cum ratione omnis quam non quibusdam quae? Rerum laboriosam omnis dolor tempora qui, debitis doloremque aut.</h2>


{% endblock %}